@font-face {
    font-family: 'Play', sans-serif;
    src: url('./assets/fonts/Play/Play-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Play', sans-serif;
    src: url('./assets/fonts/Play/Play-Regular.ttf');
    font-weight: 400;
}

/* текст белый */
.text-white {
    font-family: 'Play', sans-serif;
    color: white;
}

/* основной текст */
.text {
    font-family: 'Play', sans-serif;
    color: #3E0E14;
}

/* цвет footer */
.footer {
    background: #EAE8E8;
}

/* цвет кружка за микрофоном у футера */
.mic-background {
    background: #B1A7A6;
}

/* --------------------РЕЗУЛЬТАТЫ----------------*/
.result_good {
    background-color: #84AD00;
    opacity: 20%;
}

/* ------------------- кнопки ------------------ */
/* темная градиентная */
.btn-dark-grad {
    background: linear-gradient(180deg, #691B26 0%, #3E0E14 100%);
    border: 3px solid #3E0E14;
    border-radius: 10px;
    color: #FFF;
}

.btn-dark-grad:hover {
    background: linear-gradient(180deg, #85212F 0%, #3E0E14 100%);
    cursor: pointer;
}

.btn-dark-grad:disabled {
    background: #D9D9D9;
    color: #848484;
    border: none;
    cursor:default;
}

/* темная сплошная */
.btn-dark-main {
    background-color: #691B26;
    border-radius: 10px;
    border: none;
    color: #FFF;
}

.btn-dark-main:hover {
    background-color: #85212F;
    cursor: pointer;
}

.btn-dark-main:disabled {
    background-color: #D9D9D9;
    cursor:default;
}

/* да / нет (светлая с градиентом */
.btn-yes-no {
    background: linear-gradient(180deg, #D9D9D9 0%, #B1A7A6 100%);
    border: 1px solid #3E0E14;
    border-radius: 10px;
    color: #3E0E14;
}

.btn-yes-no:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #B1A7A6 100%);
    border: 1px solid #3E0E14;
    border-radius: 10px;
    color: #3E0E14;
    cursor: pointer;
}

.btn-yes-no:disabled {
    background: #D9D9D9;
    color: #848484;
    border: none;
    cursor:default;
}

/* -------- ЦВЕТА ИЗМЕРЕНИЙ --------- */
#color_good {
    background-color: #84AD00;
}

#color_bad {
    background-color: #E63946;
}

#color_middle {
    background-color: #FFB225;
}

#color_default {
    background-color: #691B26;
}