.main-div {
    position: relative;
    width: 1280px;
    height: 800px;
    border: #3E0E14 1px solid;
}

/* текст белый */
.text-white {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
}

/* основной текст */
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #3E0E14;
}

/* цвет footer */
.footer {
    background: #EAE8E8;
}

/* цвет кружка за микрофоном у футера */
.mic-background {
    background: #B1A7A6;
}

/* ------------------- кнопки ------------------ */
/* темная градиентная */
.btn-dark-grad {
    background: linear-gradient(180deg, #691B26 0%, #3E0E14 100%);
    border: 3px solid #3E0E14;
    border-radius: 10px;
}

.btn-dark-grad:hover {
    background: linear-gradient(180deg, #85212F 0%, #3E0E14 100%);
    cursor: pointer;
}

/* темная сплошная */
.btn-dark-main {
    background-color: #691B26;
    border-radius: 10px;
    border: none;
    color: #FFF;
}

.btn-dark-main:hover {
    background-color: #85212F;
    cursor: pointer;
}

.btn-dark-main:disabled {
    background-color: #D9D9D9;
    cursor:auto;
}

/* да / нет (светлая с градиентом */